<%page args="element, eaiAttributes, widgetstyle" />

    <div id="item-${element['elementName'] | h}" ${widgetstyle}>
        % if 'label' in element:
            <label for="${element['elementName'] | h}_id" class="${'disabledLabel ' if element.get('disabled') else ''}">${_(element['label'])}
            % if element.get('elementName') in eaiAttributes['requiredFields'] or element.has_key('requiredIfVisible'):
                <span class="requiredAsterisk">*</span>
            % endif
            </label>
        % endif
        % if 'helpText' in element:
            <p class="helpText">${_(element['helpText'])}</p>
        % endif
        <div>
            <div class="widgeterror"><form:error name="${element["elementName"]}"/></div>
            <input id="${element['elementName'] | h}_id" type="password" class="regular ${element['class'] if 'class' in element else '' | h}" name="${element["elementName"] | h}" ${'disabled="disabled"' if element.get('disabled') else ''} ${'readonly="readonly"' if element.get('readonly') else ''}/>
            % if 'exampleText' in element:
                <p class="exampleText"><em>${_(element['exampleText'])}</em></p>
            % endif
        </div>
        <label for="${element['elementName'] | h}_id_confirm" class="${'disabledLabel ' if element.get('disabled') else ''}">${_('Confirm password')}</label>
        <div>
            <input id="${element['elementName'] | h}_id_confirm" type="password" class="regular" name="spl-ctrl_${element['elementName'] | h}-confirm" ${'disabled="disabled"' if element.get('disabled') else ''} ${'readonly="readonly"' if element.get('readonly') else ''}/>
        </div>
    </div>
