<%!
title = 'Login - change password'
%>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*" />
<%def name="css()">
    <%lib:stylesheet_tags files="${['/static/css/login.css']}" />
</%def>

        <style type="text/css">
            .spl-change-password-wrapper {
                background-color: #fff;
                border: 1px solid #ccc;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: #ccc 0 0 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -360px;
                margin-top: -200px;
                width: 720px;
            }

            .spl-change-password-inner {
                padding: 80px 20px 70px 20px;
                margin: 0;
                text-align: center;
            }

            .spl-change-password-inner p.error {
                padding-left: 0;
            }

            .spl-pwdreset-form-wrapper {
                display: inline-block;
            }

            .spl-pwdreset-form {
                text-align: left;
            }

            .loginButtonRow {
                direction: rtl;
                float:left;
            }

            /* this is to target ff2 and make it play nice. */
            html>/**/body .spl-pwdreset-form-wrapper, x:-moz-any-link{ 
                display: table;
                margin: 0 auto;
            }

            .splButton-primary, .splButton-secondary {
                -moz-border-radius: 4px 4px 4px 4px;
                background: url("/static/img/skins/default/overlay_gloss_28.png") repeat-x scroll left -2px transparent;
                _background-image:none;
                border: medium none;
                color: #FFFFFF;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                direction: ltr;
                float: none;
            }

            .splButton-secondary {
                background-color: #999999;
                margin-left: 0;
            }

            .splButton-primary {
                background-color: #73A550;
            }
            
            .splButton-primary:hover, .splButton-primary:focus {
                background-color: #5e8d3d;   
            }
            
            .splButton-secondary:hover, .splButton-secondary:focus {
                background-color: #808080;   
            }
            
            h1.spl-pwd-reset-title {
                font: 300 24px helvetica, arial, sans-serif;
                color: #73A550;
                white-space: nowrap;
                margin: 0 0 -10px 0;
            }

            p.spl-pwd-reset-description {
                font-size: 14px;
                line-height: 130%;
                color: #000;
            }
        </style>

        <div class="spl-change-password-wrapper">
            <div class="spl-change-password-inner">
                <span class="spl-pwdreset-form-wrapper">
                    <form action="${ make_url('/account/passwordchange') }" method="post" class="loginForm spl-pwdreset-form" autocomplete="off">
                        ${csrf_hidden_input()}
                        % if return_to:
                            <input type="hidden" name="return_to" value="${return_to|h}">
                        % endif

                        <h1 class="spl-pwd-reset-title">${_('Change your password')}</h1>
                        <p class="spl-pwd-reset-description">${_('You are now signed in.')} <br />${_('If you have not already done so, we advise you to change your password.')}</p>
                        
                        % if err:
                        <p id="jserror" class="error">
                            ${err|h}
                        </p>
                        % endif                        
                        
                        <p>
                            <label for="newpassword">
                                ${_('New password')}
                            </label>
                            <br/>
                            <input type="password" id="newpassword" name="newpassword" tabindex="1"/>
                        </p>
                        <p>
                            <label for="confirmpassword">
                                ${_('Confirm new password')}
                            </label>
                            <br/>
                            <input type="password" id="confirmpassword" name="confirmpassword" tabindex="2"/>
                        </p>
                        
                        <p class="loginButtonRow">
                            <button class="splButton-primary" type="submit" tabindex="4"><span>${_('Save password')}</span></button>
                            <button class="splButton-secondary" type="button" tabindex="3" onclick="window.location='${return_to or '/'|h}';"><span>${_('Skip')}</span></button> 
                        </p>
                    </form>
                </span>

            </div>
        </div>

        <script type="text/javascript" language="Javascript1.3">
            window.onload = function() {
                document.getElementById('newpassword').focus();
            }
        </script>       
